::-moz-selection { 
    color: red;
    background: white;
}

::selection {
    color: red; 
    background: white;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #ee6e73;
}


body a {
    color:#777;
}

main h2 {
    font-size: 1.64rem;
    margin-top:0;
}

.loader_img {
    background:transparent url(../images/spinner.gif) no-repeat 50% 50%;
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:20%;
}

#slide-out {
    overflow:hidden;
    max-width:300px;
    width:100%;
}

#slide-out h1 {
    font-size:2rem;
    margin:0;
}

#slide-out li a {
   padding:0; 
}

.fix-svg-object {
    position: relative;
    top: .5rem;
}
.fix-flags-object {
    position: relative;
    top: .2rem;
}
nav .nav-wrapper ul li object {
    border-radius:2px;
}
header {
    padding-left:300px;
}
main {
    padding-top:2rem;
    padding-left:320px;
    padding-right:20px;
}

.menu-text {
    display: inline-block;
    margin-left: 1rem;
    top: -0.5rem;
    position: relative;
}

#pocetna a {
    display: block;
    padding: 1rem;
    color: #777;
    border-radius: 3px;
    min-height: 250px;
    margin-bottom: 1.5rem;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

#pocetna a:hover,#portfolio a:hover,#download a:hover {
    background-color:#DCDCDC;
}

#pocetna a h3 {
    font-size:2rem;
    margin-bottom: 0;
    line-height: 2rem;
}

#pocetna a h3 .menu-text {
    position:relative;
    top:-1.1rem;
    font-size: 1.9rem;
    margin-left:0;
}

#pocetna a ul {
    padding-left:.5rem;
}

#pocetna a ul li {
    list-style-type:none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding:0;
}

main div.section:nth-child(1), #download .section {
    padding-top:0;
}

#omeni div.section:nth-child(1) h5 {
    margin-bottom: 2rem;
}

#omeni label {
    min-width:110px;
    display:inline-block;
}

#portfolio > .row div.col.s12:not(:first-child) a {
    display: block;
    max-width: 100%;
    overflow-y: hidden;
    max-height: 350px;
    min-height: 350px;
    padding: 1rem;
    border: 2px solid #d1d1d1;
    margin-bottom: 2rem;
    border-radius: 3px;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

#portfolio .row .col.s3 a  {
    border-bottom: 2px solid #DCDCDC;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

#portfolio .tabs .tab a:hover {
    color:#fff;
} 

#portfolio > .row div.col.s12:not(:first-child) a i {
    margin-top: 3rem;
    display: inline-block;
}

#portfolio a img {
    max-width: 100%;
    margin-top: 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-transition: opacity ease-in-out .2s;
    -o-transition: opacity ease-in-out .2s;
    -webkit-transition: opacity ease-in-out .2s;
    transition: opacity ease-in-out .2s;
    opacity: .5;
}

#portfolio a:hover img {
    opacity:1;
}

#portfolio ul.tabs {
    margin-bottom: 2rem;
}

#portfolio .row .col.s3 a.active {
    background-color:#EE6E73;
    color:#fff;
}

body .modal {
    max-height:80%;
}

.modal-content img {
    max-width:100%;
}

body .btn:hover, body .btn-large:hover {
    background-color:#ee6e73;
    color:#fff;
}

.collapsible li:hover label {
    cursor:pointer;
}

.collapsible-header.active {
    background-color:#ddd;
}

.collapsible-header.active i:before {
    content: "";
}

#preuzimanje a {
    min-height:100%;
    text-align:left;
}

#preuzimanje a img {
    max-width:30px;
    position:relative;
    top:5px;
    margin-right:.5rem!important;
}

#preuzimanje a img,#preuzimanje a h5 {
    display:inline-block;
    margin:0;
}

#download a {
    position: relative;
    display: block;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

.format-icon {
    position:absolute;
    bottom:1rem;
    right:1rem;
    width:50px;
    height:50px;
    display:block;
}

.format-icon.doc {
    background:transparent url("../images/word_logo.jpg") no-repeat 50% 50%;
}

.format-icon.pdf {
    background:transparent url("../images/pdf_icon.gif") no-repeat 50% 50%;
}

main h5 {
    margin-bottom:2rem;
}

#obrazovanje ul.collapsible li label {
    display:inline-block;
    min-width:80px;
}

ul.hypen-list {
    margin-left:1.1rem;
}

.hypen-list li {
    list-style-type:disc;
}

.cth {
    opacity:0;
}


#nav-mobile li:nth-child(2) {
    display: none;
}

.main-img, .m6 {
    opacity:0;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    header,main {
        padding:0!important;
    }
}

@media only screen and (max-width : 992px) {
    header, main {
      padding-left: 0;
    }
    #slide-out {
        overflow:scroll;
    }
  }

@media only screen and (max-width : 491px) {
    nav ul a {
        padding: 0 7px;
    }

    #omeni label {
        min-width: 85px;
    }

    main h2 {
        text-align:center;
    }

    main { 
        padding-right:0;
    }

    .tabs {
        display:none;
    }

    #nav-mobile {
        background-color:#ee6e73
    }

    .collapsible-header {
        line-height:2rem;
        height:auto;
    }

    .collapsible-header i {
        display:none;
    }

    #omeni .col.s9 > .row {
        margin-bottom:5px;
    }
}